#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #e4f5e1;
  background: linear-gradient(
    45deg,
    rgba(228, 245, 225, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(228, 245, 225, 1) 100%
  );
}

h1 {
  font-family: "Instrument Sans";
}
